@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font: 'Open Sans', sans-serif;
$contact: #d0eae6;
$button: #448484;
$grey: #7d8e8e;
$white: #fff;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font;
}

.app {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid $grey;
}

.contactsList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.contactItem {
    background-color: $contact;
    margin-bottom: 10px;
    padding: 20px 20px 20px 80px;
    line-height: 0;
}

.contactImage {
    float: left;
    height: 100px;
    margin-right: 30px;
}

.contactLabel {
    margin-left: 130px;
    line-height: 100%;

    &:first-of-type {
        margin-top: 8px;
    }
}

.contactEmail {
    line-height: 100%; 
    text-decoration: none;
    color: black;
}

input {
    border: none;
    border-bottom: 1px solid $grey;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    height: 30px;
    width: 500px;
}

button {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    background-color: $button;
    color: $white;

    &:hover {
        background-color: $grey;
        cursor: pointer;
    }
}





